@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.options {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 400px) {
  .uidiv {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .uidiv2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    display: none;
  }

  .morebutton {
    display: block;
  }
}
